@model string


<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Dependency Injection Demo</h4>
    </div>
    <div class="panel-body">
        <div class="col-sm-offset-3 col-sm-3">

                <div>@Model</div>
        </div>
 
    </div>
</div>
