@{
    ViewBag.Title = "Throw Error";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Throw Error</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            <button type="submit" class="btn btn-primary">Throw Error</button>
        }
    </div>
</div>
