@{
    ViewBag.Title = "WebApiDemo";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Product List</h4>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <a href="/api/values" class="list-group-item">api/values</a>
            <a href="/api/values/1" class="list-group-item">api/values/1</a>
        </div>
    </div>
</div>

